.faqs-section{
    padding: 3rem 5rem;
    background-color: #f0f0f0;
}

.faqs-section .faqs-section-title h1{
    font-size: 6rem;
    font-weight: 700;
}

.faqs-section .faqs-section-title .faqs-blue-text{
    color: #00aeff;
}

.faqs-section .faqs-section-description h3{
    font-size: 1.5rem;
}

.faqs-section .faqs-phone{
    background-color: #00aeff;
}
.faqs-section .faqs-quote{
    background-color: #004881;
    color: white;
}

@media(max-width: 475px){
    .faqs-section {
        padding: 2rem 2rem;
    }

    .faqs-section .faqs-section-title h1 {
        font-size: 3.5rem;
        text-align: center;
    }

    .faqs-section .faqs-section-description h3 {
        font-size: 1rem;
    }

    .faqs-table-box {
        padding: 1rem 2rem 1rem 0px;
    }
}