.thumbnail-card{
    border-radius: 0;
    background-color: #808080;
    /* width: 100%; */
}
.card-img{
    width: 100%;
    height: 13rem;
}

.card-body{
    padding: 0;
    height: 17rem;
}

.card-content{
    position: relative;
    max-width: 60%;
    height: 4rem;
    background-color: #004881;
}

.card-content::before{
    content: "";
    position: absolute;
    right: -5rem;
    bottom: 0;
    border-left: 5rem solid #004881;
    border-top: 4rem solid #808080;
    transform:  rotate(0deg);
}
 .plumbing-service-offer-thumbnail{
    gap: 1%;
 }
.card-icon-container{
    min-width: 4rem;
    height: 100%;
    background-color: #00aeff;
    padding: auto ;
    text-align: center;
}

.card-icon-container .card-plumbing-icon{
    transform: scale(0.65);
}
.card-content .card-description h5{
    color: #fff;
    font-weight: 700;
}

.card-content .card-description{
    margin-left: 2rem;
}
@media (min-width:1200px){
    .plumbing-service-offer-thumbnail .thumbnail-card{
      width: 24% !important;
        margin-bottom: 1%;
        /* margin-left: 1%; */
    }
}
@media (max-width:1200px){
    .plumbing-service-offer-thumbnail .thumbnail-card{
       width: 32.33% !important;
        margin-bottom: 1%; 
        /* margin-left: 1%; */
     }
}

@media (max-width:992px){
    .plumbing-service-offer-thumbnail .thumbnail-card{
        width: 49% !important;
        margin-bottom: 1%;
        /* margin-left: 1%; */
    }
}

@media (max-width:767px){
    .plumbing-service-offer-thumbnail .thumbnail-card{
        min-width: 100% !important;
    }
}

@media (max-width: 1600px){
    .card-content .card-description {
        margin-left:0.5rem;
        transform: scale(1);
    }
}

@media (max-width: 1500px) and (min-width:1200px){
    .card-content .card-description {
        transform: scale(0.9);
    }
}