.intro-body {
  position: relative;
  width: auto;
  height: auto;
}
.plumber-img-container {
  width: 100%;
  height: auto;
}

.plumber-img-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 31, 31, 0.7);
}
.plumber-img {
  width: auto;
  height: 100%;
  /* background-image: url("../../assets/images/plumber.jpg");
  background-size: 100%, 100%, cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.technician-banner {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: end;
}

.intro-content {
  position: absolute;
  bottom: 3rem;
  left: 5rem;
  color: white;
  z-index: 1;
}

.intro-content .intro-hotwater {
  position: relative;
  /* overflow-y: hidden; */
  /* padding: 1rem 0rem; */
  background-color: #00aeff;
  /* width: 94%; */
}

.intro-content .intro-hotwater::before {
  content: "";
  position: absolute;
  top: 0;
  right: -2rem;
  width: 0;
  height: 0;
  border-top: 7.8rem solid transparent;
  border-right: 2rem solid #00aeff; /* Change this color to the desired border color */
  transform: translateY(-0%) rotate(180deg);
}

.technician-img {
  max-height: 100%;
  max-width: 100%;
  object-fit: fill;
}

.intro-content h1 {
  /* max-width: 50rem; */
  font-size: 6.5rem;
  /* line-height: 6rem; */
  font-weight: 800;
  transform: scaleY(1.1);
}
.price-content {
  margin-top: 2rem;
}
.price-content-list-i,
.price-content-list-ii,
.price-content-list-iii {
  margin-bottom: 0.5rem;
}
.price-content-list-i p,
.price-content-list-ii p,
.price-content-list-iii p {
  margin-bottom: 0px;
  font-size: 2rem;
  font-weight: 600;
}

.price-content-list-i small,
.price-content-list-ii small,
.price-content-list-iii small {
  font-size: 1rem;
  font-weight: 600;
}
.list-img-container {
  width: 5rem;
  height: auto;
  border-radius: 50%;
  background-size: contain;
  background-color: #00aeff;
  margin-right: 2rem;
}

.list-img-container .list-img {
  transform: scale(0.6);
}

.service-rating {
  position: absolute;
  max-width: 58%;
  height: auto;
  bottom: 1rem;
  right: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.service-rating-facebook,
.service-rating-google,
.emergency-services {
  width: 12rem;
  height: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0 !important;
  transform: skewX(-10deg);
}

.service-rating-facebook {
  background-color: #0c6cb9 !important;
  color: #fff;
}
.service-rating-google {
  background-color: #dd1717;
  color: #fff;
}
.service-rating-facebook .card-title,
.service-rating-google .card-title {
  margin-bottom: 0 !important;
  font-size: 5rem;
}

.service-rating-facebook .card-text h3,
.service-rating-google .card-text h3 {
  margin-top: 0.5rem !important;
}

.emergency-services {
  background-color: #ffd100;
  color: #000;
  padding-top: 1rem;
}

.emergency-services .card-title {
  margin-bottom: 0 !important;
  font-size: 5rem;
}

.emergency-services .card-text > small {
  font-size: 1.5rem;
}

@media (max-width: 1800px) {
  .intro-content h1 {
    font-size: 6rem;
  }

  .intro-content .intro-hotwater::before {
    border-top: 7.3rem solid transparent;
  }
}

@media (max-width: 1200px) {
  .service-rating {
    flex-direction: column;
    right: 5rem;
  }

  .service-rating-facebook,
  .service-rating-google,
  .emergency-services {
    width: 10rem;
    height: 11rem;
    transform: none;
  }

  .service-rating-facebook .card-title,
  .service-rating-google .card-title {
    font-size: 4rem;
  }

  .emergency-services .card-title {
    font-size: 4rem;
  }

  .intro-content h1 {
    font-size: 5rem;
  }

  .intro-content .intro-hotwater::before {
    border-top: 6.1rem solid transparent;
    right: -2rem;
    border-right: 2rem solid #00aeff;
  }

  .list-img-container {
    width: 3rem;
    height: 3rem;
  }

  .request-right-container .text-container  .text-container-border h4 {
    font-size: 1.2rem !important;
  }
  .price-content-list-i p,
  .price-content-list-ii p,
  .price-content-list-iii p {
    font-size: 1.5rem;
  }
}

@media (max-width: 992px) {
  .intro-content .intro-hotwater {
    width: 70%;
  }
  .intro-content h1 {
    font-size: 2.5rem;
  }

  .intro-content {
    bottom: 1rem;
  }
  .plumber-img {
    width: 100% !important;
    height: auto !important;
  }

  .list-img-container {
    width: 2.5rem;
    height: 2.5rem;
  }

  .intro-content .intro-hotwater::before {
    border-top: 3.1rem solid transparent !important;
    right: -0.8rem;
    border-right: 0.9rem solid #00aeff;
  }
  .service-rating-facebook,
  .service-rating-google,
  .emergency-services {
    width: 7rem;
    height: 7rem;
  }

  .price-content {
    margin-top: 0;
  }

  .price-content-list-i p,
  .price-content-list-ii p,
  .price-content-list-iii p {
    font-size: 1rem;
  }

  .service-rating-facebook .card-title,
  .service-rating-google .card-title {
    font-size: 2rem;
  }
  .starsContainer {
    transform: scale(0.7);
  }
  .service-rating-facebook .card-text h3,
  .service-rating-google .card-text h3 {
    font-size: 1rem;
  }

  .service-rating-facebook .card-text h5,
  .service-rating-google .card-text h5 {
    font-size: 0.8rem;
  }

  .emergency-services .card-title {
    font-size: 2rem;
  }

  .emergency-services .card-text > small {
    font-size: 1rem;
  }
  .intro-content .intro-hotwater::before {
    border-top: 3.7rem solid transparent;
  }
}

@media (max-width: 700px) {
  .intro-content .price-content-hide {
    display: none;
  }

  .intro-content .intro-hotwater {
    width: 98%;
  }

  .service-rating {
    bottom: 0.5rem;
    right: 2rem;
  }

  .intro-content .intro-hotwater::before {
    border-top: 4rem solid transparent !important;
    border-right: 0.5rem solid #00aeff !important;
    right: -0.5rem;
  }
  .plumber-img {
    width: 100% !important;
    height: auto !important;
  }
  .intro-content {
    bottom: 1rem;
    left: 2rem;
  }

  .intro-content h1 {
    font-size: 3.5rem;
  }

  .price-content-list-i p,
  .price-content-list-ii p,
  .price-content-list-iii p {
    font-size: 1rem;
  }

  .service-rating-facebook,
  .service-rating-google,
  .emergency-services {
    width: 4rem;
    height: 4rem;
  }
  .service-rating-facebook .card-title,
  .service-rating-google .card-title {
    font-size: 1.3rem;
  }

  .starsContainer {
    transform: scale(0.4);
  }

  .service-rating-facebook .card-text h5,
  .service-rating-google .card-text h5 {
    font-size: 0.5rem !important;
    margin-top: -0.1rem !important;
    font-size: 0.5rem !important;
  }

  .service-rating-facebook .card-text h3,
  .service-rating-google .card-text h3 {
    font-size: 0.8rem;
  }

  .service-rating-facebook .card-text h3,
  .service-rating-google .card-text h3 {
    margin-top: -0.7rem !important;
  }

  .service-rating-facebook .card-title,
  .service-rating-google .card-title {
    margin-bottom: -0.4rem !important;
  }

  .emergency-services .card-title {
    font-size: 1rem;
    margin-top: -0.6rem;
  }
  .emergency-services .card-text > small {
    font-size: 0.7rem;
  }
}

@media (max-width: 500px) {
  .intro-content .price-content-hide {
    display: none;
  }

  .intro-content .intro-hotwater {
    width: 98%;
  }

  .service-rating {
    bottom: 0.5rem;
    right: 2rem;
  }

  .intro-content .intro-hotwater::before {
    border-top: 2.3rem solid transparent !important;
    right: -0.5rem;
    border-right: 0.5rem solid #00aeff !important ;
  }
  .plumber-img {
    width: 100%;
    height: auto;
  }
  .intro-content {
    bottom: 1rem;
    left: 2rem;
  }

  .intro-content h1 {
    font-size: 1.9rem;
  }

  .price-content-list-i p,
  .price-content-list-ii p,
  .price-content-list-iii p {
    font-size: 1rem;
  }

  .service-rating-facebook,
  .service-rating-google,
  .emergency-services {
    width: 4rem;
    height: 4rem;
  }
  .service-rating-facebook .card-title,
  .service-rating-google .card-title {
    font-size: 1.3rem;
  }

  .starsContainer {
    transform: scale(0.4);
  }

  .service-rating-facebook .card-text h5,
  .service-rating-google .card-text h5 {
    font-size: 0.5rem !important;
    margin-top: -0.1rem !important;
    font-size: 0.5rem !important;
  }

  .service-rating-facebook .card-text h3,
  .service-rating-google .card-text h3 {
    font-size: 0.8rem;
  }

  .service-rating-facebook .card-text h3,
  .service-rating-google .card-text h3 {
    margin-top: -0.7rem !important;
  }

  .service-rating-facebook .card-title,
  .service-rating-google .card-title {
    margin-bottom: -0.4rem !important;
  }

  .emergency-services .card-title {
    font-size: 1rem;
    margin-top: -0.6rem;
  }
  .emergency-services .card-text > small {
    font-size: 0.7rem;
  }
}
