.repair-section {
  padding: 0 5rem;
  width: 100%;
  height: 40rem;
  background-color: #f0f0f0;
}

.repair-section .repair-section-absolute-position {
  width: 100%;
  height: auto;
  position: relative;
}

.repair-section .repair-payment-container {
  position: absolute;
  top: -3rem;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #004881;
  padding: 5rem;
}

.repair-section .repair-payment-options-container {
  position: absolute;
  bottom: -14rem;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 4rem;
}
.repair-payment-options-container .repair-payment-option-separator{
    width: 0.2rem;
    height:5rem;
    background-color: #cacaca;
    border-radius: 50%;
}

.repair-payment-container .repair-section-logo {
  width: 15rem;
  height: 15rem;
  background-color: #fff;
  border-radius: 50%;
}

.repair-payment-container .repair-section-logo h1 {
  color: #004881;
  font-weight: 700;
  font-size: 4rem;
}

.payment-description .payment-description-plan h3 {
  font-size: 2.5rem;
  color: #fff;
}

.payment-description .payment-description-pay-later h1 {
  font-size: 4.5rem;
  color: #fff;
}

.payment-description .payment-description-phone {
  display: grid;
  place-items: center;
  width: 15rem;
  height: 4.5rem;
  background-color: #004881;
  border: 2px solid #ffff;
  color: #ffff;
  margin-right: 2rem;
}
.payment-description .payment-description-quote {
  display: grid;
  place-items: center;
  width: 15rem;
  height: 4.5rem;
  color: #00aeff;
  border: 2px solid #ffff;
  background-color: #fff;
}

.repair-payment-container .payment-description-card {
  position: relative;
}
.repair-payment-container .payment-card-img {
  position: absolute;
  top: -3rem;
  right: 0;
  max-width: 25rem;
  transform: scale(1.9) rotate(-10deg);
  /* transform: rotate(-10deg); */
}

.repair-payment-options-container .repair-payment-option-i-title h1,
.repair-payment-options-container .repair-payment-option-ii-title h1,
.repair-payment-options-container .repair-payment-option-iii-title h1{
    font-size: 5rem;
    color: #00aeff;
    font-weight: 600;
}

.repair-payment-options-container .repair-payment-option-i-description p,
.repair-payment-options-container .repair-payment-option-ii-description p,
.repair-payment-options-container .repair-payment-option-iii-description p{
    font-weight: 600;
    line-height: 0.35rem;
}
